   /* raleway-700 - latin_cyrillic 
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/raleway-v19-latin_cyrillic-700.eot'); /* IE9 Compat Modes 
    src: local(''),
         url('../fonts/raleway-v19-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-v19-latin_cyrillic-700.woff2') format('woff2'), 
         url('../fonts/raleway-v19-latin_cyrillic-700.woff') format('woff'), 
         url('../fonts/raleway-v19-latin_cyrillic-700.ttf') format('truetype'), 
         url('../fonts/raleway-v19-latin_cyrillic-700.svg#Raleway') format('svg'); 
  } */
  :root {
--main-text-color: #757575;
--accent-color: #2196F3;
--title-color: #212121;
--dark-bg-color: #2F303A;
--bg-text-color: #FFFFFF;
--white-bg-color: #F5F4FA;
--icon-main-color: #AFB1B8;
  }

  .html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.87; 
    letter-spacing: 0.03em;  
    color: var(--main-text-color);
  }
  
  h1,h2,h3,h4,p,ul {
    margin: 0;
    padding: 0;
  }

  .container {
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .container-footer {
    display:flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .container-item {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
  }

  .link,
  .webstudio,
  .link-head-adress,
  .address {
      text-decoration: none;
      color: inherit;
  }

  .menu {
    display: inline-flex;
  }

  .menu li:not(:last-child) {
    margin-right: 50px;
  }

  /*.list-nav-item:not(:last-child) {
    margin-right: 50px;
 }*/

  /* хедер */

  .link-head-adress {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    padding-top: 32px;
    padding-bottom: 32px; 
  }

  /* .navigation {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  */
  .link-head-adress:hover,
  .link-head-adress:focus {
      color: var(--accent-color);
  }

  .list {
      list-style: none;
  }

  .header .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .header .webstudio {
    display: inline-block;
    height: 31px;
    margin-right: 93px;
  }
  
  .header {
    border-bottom: 1px solid #ECECEC;
  }

 /* секция навиг */

 .link-nav,
 .link-nav-active,
 .link-adress-title-footer,
 .link-adress-map-footer  {
    text-decoration: none;
    color: inherit;
 }
 .link-nav,
 .link-nav-active {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color);
    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-block;
 }
 .link-nav-active {
     color: var(--accent-color);
 }

.link-nav:focus,
.link-nav:hover {
    color: var(--accent-color);
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

/* портфолио мейнсек */

.portfolio-menu-sec {
  padding-bottom: 94px;
  padding-top: 94px;
}

.visualy-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px,1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/* кнопки */

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  padding: 6px 22px 6px 22px;
  background: var(--white-bg-color);
  border-radius: 4px;
  border: none;
  height: 38px;
    }
  
  .button:hover,
  .button:focus
  {
      color: var(--bg-text-color);
      background-color: var(--accent-color);
      cursor: pointer;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
  }
  
  .active {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--bg-text-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  }
  

.portfolio-list {
   display: grid;
   grid-template-columns: repeat(3, 3fr);
   grid-column-gap: 30px;
   grid-row-gap: 30px;
}

.portfolio-list-item-cont {
  padding: 20px 24px;
}

.portfolio-filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.list-portfolio-filters-item:not(:last-child) {
  margin-right: 8px;
}

.social-icons {
  margin-top: 16px;
}

.item-name {
font-weight: bold;
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
color: var(--title-color);
margin-bottom: 4px;
}

  .item-name-type {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
  }

  .portfolio-list-item {
    background: var(--bg-text-color);
    border: 1px solid #EEEEEE;
    box-sizing: border-box
  }

  .portfolio-list-item:focus,
  .portfolio-list-item:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.06);
  }

 /* иконки */
 
.link-head-adress {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-head-adress:hover .icon,
.link-head-adress:focus .icon {
  stroke: currentColor;
}

.social-icons {
  display: inline-flex;
}

.social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 44px;
  width: 44px;
}

.social-icons-item + .social-icons-item {
  margin-left: 10px;
}

 .social-icons .icon {
   width: 20px;
   height: 20px;
   fill: var(--icon-main-color);
 }

.social-icons-link:hover .icon,
.social-icons-link:focus .icon {
  fill: var(--bg-text-color);
  background-color: var(--accent-color);
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: var(--accent-color);
}

  /* мейн секшн студия */

  .first-main-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    max-width: 1600px;
    height: 600px; 
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)),
    url(../images/hero1.jpg);
    margin-left: auto;
    margin-right: auto;
  }

  .advantage-item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-bg-color);
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
  }

  .advantage-item-container .icon {
    height: 70px;
    width: 70px;
  }

  .list advantages .advantage-item-container:not(:last-child) {
    margin-right: 30px;
  }

  .list-menu-item .icon {
    stroke: var(--main-text-color);
    margin-right: 10px;
    fill: currentColor;
   }
   
  .main-sec-advantages-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);  
 }

 .main-sec-advantages {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
    margin-bottom: 10px;
 }

 .advantage-sec {
  padding-top: 94px;
  padding-bottom: 94px;
 }

 .advantages {
  display: flex;
  justify-content: space-between;
}

.advantages li {
max-width: 270px;
margin-right: 30px;
}

.about-us-sec {
  padding-bottom: 94px;
}

.about-us {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-column-gap: 30px;
   /*grid-row-gap: 10px;
   grid-template-columns: 370px 370px 370px;*/
}

.about-us img{
  display: block;
}
  

.main-team-sec {
  background-color: var(--white-bg-color);
  padding: 94px 0;
}

.main-team {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px; 
}

.list-main-team {
  margin-bottom: 94px;
}
 
.main-team-item-container { 
  padding-top: 30px;
  padding-bottom: 30px;
} 

.team-item {
  background: var(--bg-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
} 

 .main-sec-worker {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 10px;
 }

 .main-sec-worker-text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
 }

 
/* width: calc(100% / 12 * 7); */

 .button-main {
   margin: 350x 700px 200px 700px;
 }
 .button-main {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--bg-text-color);
  background-color: var(--accent-color);
  text-shadow: 0px 4px 4px rgba(214, 198, 198, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: 0;
  }
  
  .button-main:hover,
  .button-main:focus {
      color: var(--bg-text-color);
      background-color: #188CE8;
      cursor: pointer;
  }  
  

 .main-team-sec {
  background-color: var(--white-bg-color);
}

.main-page-title {
  margin-bottom: 30px;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--bg-text-color);
}

.main-page-section-title {
font-weight: bold;
font-size: 36px;
line-height: 1.166;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-color);
margin-bottom: 50px;
}

.clients-sec {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  font-weight: bold;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.clients-sec-list {
  display: flex;
  list-style: none;
  box-sizing: inherit;
  margin-top: 50px;
  justify-content: space-between;
}

.clients-sec-link {
  width: 170px;
  height: 90px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*border: 1px solid #EEEEEE;
border-radius: 4px;*/

.clients-sec-item {
  border: 1px solid #EEEEEE;
  border-radius: 4px;
}

.clients-sec-item .icon {
fill: var(--icon-main-color);
}

.clients-sec-item:hover,
.clients-sec-item:focus {
  border: 1px solid #2196F3;
}


.clients-sec-link:hover .icon,
.clients-sec-link:focus .icon {
  fill: var(--accent-color);
}


 /* секция футера */

 /* секция адреса */

 .adress-title-footer {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  .footer-sec {
    width: 100%;
    /*height: 252px;*/
    padding-top: 60px;
    padding-bottom: 60px;
  }


  .footer-sec .webstudio {
    display: inline-block;
    height: 31px;
    padding-bottom: 20px;
  }

  .first-main-sec,
  .footer-sec {
    background-color: var(--dark-bg-color);
  }

  .web,
  .studio,
  .studio-foot {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }

  .studio {
    color: var(--title-color);
  }

  .studio-foot {
    color: var(--bg-text-color);   
  }

 .address {
    text-decoration: none;
    color: inherit;    
    font-style: inherit;
  }

 .link-adress-title-footer,
 .link-adress-map-footer {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);  
 }
 .link-adress-map-footer {
     color: var(--white-bg-color);
 }
 
.link-adress-title-footer:hover,
.link-adress-title-footer:focus,
.link-adress-map-footer:focus,
.link-adress-map-footer:hover {
    color: var(--accent-color);
}

.address li:not(:last-child) {
  margin-bottom: 9px;
  }

  .social-sec .social-icons-link {
    background: rgba(255, 255, 255, 0.1);
  }

  .social-icons-link:hover,
  .social-icons-link:focus {
  background-color: var(--accent-color);
}

.footer-sec .footer-list {
  display: flex;
  justify-content: space-between;
}

.footer-list .footer-list-item {
  flex-basis: calc((50% - 45px) / 3);
}

/*.footer-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  list-style: none;
}*/

.footer-title {
  font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--bg-text-color);
}
